html{
    overflow-y: auto;
}

html, body, #main{
    height: 100%;
}

html{
    background: radial-gradient(#ddd,#aaa);
}

.fullscreen{
    height: 100%;
}

.scrollbar{
    overflow: auto;
}

.scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /* background-color: #00008c; */
}

.scrollbar::-webkit-scrollbar {
    /* background-color: #00008c; */
}

.scrollbar::-webkit-scrollbar-thumb {
    /* background: #1e88e5; */
}

.siglo h1{
    display: inline-block;
    background: #444;
    font-size: 20px;
    color: #fff;
    padding: 4px;
    width: 160px;
}

a.anio{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 1px 8px #888;
    margin:50px auto;
    position: relative;
    overflow: hidden;
    color: #777;
    transition: all .3s
}

a.anio:hover{
    transform: scale(1.1)
}

a.anio h2{
    position: absolute;
    bottom: 20%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
}
.anioEventos.fullscreen{
    height: 95%;
}