*{
    -webkit-touch-callout: none;/* iOS Safari */
    -webkit-user-select: none;/* Safari */
    -khtml-user-select: none;/* Konqueror HTML */
    -moz-user-select: none;/* Firefox */
    -ms-user-select: none;/* Internet Explorer/Edge */
    user-select: none;/* Non-prefixed version, currently supported by Chrome and Opera */
}

html {
    background: radial-gradient(#ddd, #aaa);
    overflow-y: auto;
}

html,
body,
#app {
    height: 100%;
}

body {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.fullscreen {
    height: 100%;
}

.scrollbar {
    overflow: auto;
}

.scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /* background-color: #00008c; */
}

.scrollbar::-webkit-scrollbar {
    /* background-color: #00008c; */
}

.scrollbar::-webkit-scrollbar-thumb {
    /* background: #1e88e5; */
}

.siglo h1 {
    display: inline-block;
    background: #444;
    font-size: 20px;
    color: #fff;
    padding: 4px;
    width: 170px;
    border-radius: 0px 0px 7px 7px;
}

a.anio {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 1px 8px #888;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    color: #777;
    transition: all .3s
}

a.anio:hover {
    transform: scale(1.15)
}

a.anio h2 {
    position: absolute;
    bottom: 20%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
}

.anioEventos.fullscreen {
    height: 95%;
}
a img{
    height: 100%!important;
    width: 100%!important;

}